@import "@styles/variables.scss";

.page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & .main {
        padding-top: 2rem;
        width: 100vw;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .carousel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $primary_color;
            border-radius: 10px;
            background: rgba(169, 169, 169, 0.627);
            width: 60vw;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-bottom: 50px;
            box-shadow: $card-shadow;
        }

        .swiper {
            width: 70%;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;
        }

        .swiper-slide div {
            display: block;
            width: 100%;
        }

        & .locations {
            margin: 5vw;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            height: 50vh;
            gap: 20px;
            width: 65vw;

            & .origin_location {
                width: 30vw;
                height: 30vw;
                max-width: 360px;
                max-height: 360px;
                min-width: 200px;
                min-height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: $card-shadow;
                border-radius: 10px;
                background:
                    rgba(169, 169, 169, 0.627);
                border: 1px solid $primary_color;
            }

            & .last_location {
                width: 30vw;
                height: 30vw;
                max-width: 360px;
                max-height: 360px;
                min-width: 200px;
                min-height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: $card-shadow;
                border-radius: 10px;
                background:
                    rgba(169, 169, 169, 0.627);
                border: 1px solid $primary_color;
            }
        }

        & .info {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            height: 60vh;
            gap: 20px;
            width: 80vw;

            &__img {
                border: 1px solid $primary_color;
                border-radius: 10%;
                overflow: hidden;
                position: relative;
                width: 30vw;
                height: 30vw;
                box-shadow: $card-shadow;
            }

            &__text {
                border: 1px solid $primary_color;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                border-radius: 10%;
                overflow: hidden;
                width: 30vw;
                height: 30vw;
                padding: 10px;
                box-shadow: $card-shadow;
                text-align: center;
                background:
                    rgba(169, 169, 169, 0.627);

                & .h1 {
                    color: $secondary_color;
                }

                & .category {
                    color: $grey_color;
                    font-size: 1.4em;
                }

                & .value {
                    color: $grey_color;
                    font-weight: bold;
                    font-size: 1.4em;
                }


                & .status-alive {
                    font-weight: bold;
                    font-size: 1.4em;
                    color: $primary_color;
                    transform: skewX(20deg);
                }

                & .status-dead {
                    font-weight: bold;
                    font-size: 1.4em;
                    color: crimson;
                    transform: skewX(20deg);
                }

                & .status-unknown {
                    font-weight: bold;
                    font-size: 1.4em;
                    color: $grey_color;
                    transform: skewX(20deg);
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .page {

        & .main {
            padding-top: 100px;
            padding-left: 10vw;
            padding-right: 10px;

            & .carousel {
                width: 80vw;
                padding-top: 50px;
                padding-bottom: 50px;
            }

            .swiper {
                width: 90%;
            }

            .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 200px;
                height: 200px;
            }

            // .swiper-slide div {
            //     display: block;
            //     width: inherit;
            // }

            & .info {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                height: 50vh;
                gap: 20px;

                &__img {
                    border: 1px solid $primary_color;
                    border-radius: 10%;
                    overflow: hidden;
                    position: relative;
                    width: 40vw;
                    height: 40vw;
                    box-shadow: $card-shadow;
                }

                &__text {
                    border: 1px solid $primary_color;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    border-radius: 10%;
                    overflow: hidden;
                    width: 40vw;
                    height: 40vw;
                    padding: 10px;
                    box-shadow: $card-shadow;

                    & .h1 {
                        color: $secondary_color;
                        font-size: 1.4em;
                    }

                    & .category {
                        color: $grey_color;
                        font-size: 1em;
                    }

                    & .value {
                        color: $grey_color;
                        font-weight: bold;
                        font-size: 1em;
                    }


                    & .status-alive {
                        font-weight: bold;
                        font-size: 1em;
                        color: $primary_color;
                        transform: skewX(20deg);
                    }

                    & .status-dead {
                        font-weight: bold;
                        font-size: 1em;
                        color: crimson;
                        transform: skewX(20deg);
                    }

                    & .status-unknown {
                        font-weight: bold;
                        font-size: 1em;
                        color: $grey_color;
                        transform: skewX(20deg);
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .page {
        & .main {
            padding-top: 20px;

            & .locations {
                padding: 5vw;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                height: 90vh;
                gap: 20px;
                width: 80vw;

                & .h2 {
                    font-size: 20px;
                }

                & .origin_location {
                    width: 60vw;
                    height: 260px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;

                    border-radius: 10px;
                    background:
                        rgba(169, 169, 169, 0.627);
                    border: 1px solid $primary_color;
                }

                & .last_location {
                    width: 60vw;
                    height: 260px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;

                    border-radius: 10px;
                    background:
                        rgba(169, 169, 169, 0.627);
                    border: 1px solid $primary_color;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .page {
        & .main {
            padding-top: 20px;
            padding-left: 50px;

            & .info {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                height: 100vh;
                gap: 20px;

                &__img {
                    border: 1px solid $primary_color;
                    border-radius: 10%;
                    overflow: hidden;
                    position: relative;
                    width: 60vw;
                    height: 60vw;
                    box-shadow: $card-shadow;
                }

                &__text {
                    border: 1px solid $primary_color;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    border-radius: 10px;
                    overflow: hidden;
                    width: 60vw;
                    height: 50vh;
                    padding: 10px;
                    box-shadow: $card-shadow;
                    text-align: center;

                    & .h1 {
                        color: $secondary_color;
                        font-size: 1.4em;
                    }

                    & .category {
                        color: $grey_color;
                        font-size: 1em;
                    }

                    & .value {
                        color: $grey_color;
                        font-weight: bold;
                        font-size: 1em;
                    }


                    & .status-alive {
                        font-weight: bold;
                        font-size: 1em;
                        color: $primary_color;
                        transform: skewX(20deg);
                    }

                    & .status-dead {
                        font-weight: bold;
                        font-size: 1em;
                        color: crimson;
                        transform: skewX(20deg);
                    }

                    & .status-unknown {
                        font-weight: bold;
                        font-size: 1em;
                        color: $grey_color;
                        transform: skewX(20deg);
                    }
                }
            }
        }
    }
}