@import "@styles/variables.scss";

.page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & .main {
        padding-top: 2rem;
        width: 100vw;

        & .h1 {
            text-align: center;
            height: 30vh;
            font-size: 2em;
        }

        & .h2 {
            text-align: center;
            color: $separator-color;
            border-bottom: 2px solid $separator-color;
            padding: 0 10vw;
        }

        &__categories {
            padding: 20px 0;
            flex-wrap: wrap;
            gap: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 1000px) {
    .page {

        & .main {
            padding-left: 10vw;
            padding-right: 10px;
        }
    }
}

@media (max-width: 600px) {
    .page {
        & .main {
            padding-left: 20vw;
            padding-right: 10px;

            & .h1,
            & .h2 {
                font-size: 1.3em;
            }
        }
    }
}