@import "@styles/variables.scss";

.header {
    position: fixed;
    z-index: 100;
    width: 100vw;
    background-color: $primary_color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    user-select: none;
    border: 1px solid $secondary_color;

    & .logo {
        position: relative;
        width: 20vw;
        height: 100px;
    }

    & .logo2 {
        position: relative;
        width: 10vw;
        height: 80px;
    }

    & .notification {
        position: fixed;
        z-index: 100;
        top: 30px;
        right: 30px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color: $secondary_color;
        border-radius: 10px;
        font-size: 20px;
        color: $white_color;
        text-align: center;
        line-height: 35px;
        margin-left: 3px;
        transition: $transition25;
        border: 1px solid $grey_color;

        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);

        }
    }
}

@media (max-width: 500px) {
    .header .logo {
        width: 50vw;
    }

    .header .logo2 {
        width: 20vw;
    }
}