@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
  --color-bg: #fff;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #eee;
  font-family: 'Sriracha', cursive;
}