$primary_color: #80c143;
$secondary_color: #01afc8;
$white_color: #f3f4f6;
$grey_color: #33383b;
$box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.5);
$green_gradient: linear-gradient(45deg, rgb(161, 255, 206, 0.5), rgb(249, 255, 209, 0.5));
$transition25: all .25s;
$card-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$card-hover-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);